@page "/"

<PageTitle>Index</PageTitle>

<h1>Procedural Task Video Analysis</h1>

<h2>Project Description</h2>
<p class="chunk">This project is a prototype of an Egocentric video analysis tool to decompose procedural videos into a set of tasks. </p>


<h2>Egocentric Videos</h2>
<p class="chunk">Describe what an egocentric video is </p>



@*<SurveyPrompt Title="How is Blazor working for you?" />*@

